include LICENSE
include AUTHORS
include CHANGELOG
include MANIFEST.in
include README.rst
recursive-include socketio *py
exclude socketio/.ropeproject/*
exclude socketio/sample_protocol_for_doc.py
recursive-include docs *
recursive-include tests *
